@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');


/* Changing the default margin */

body,
h1,
h2,
h3,
h4,
p,
img{
    font-family: "Boldonse", system-ui;
    margin: auto;
    background-color: #879EB0;
    color: #272932;
    user-select: none;
    overflow: hidden;
}

main{
  height: 85vh;
}

/* Making the nav bar */

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #272932;
    border-color: #C6D8D3;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    position: static;
    width: 75%;
}
  
.break{
  padding-bottom: 10px;
}

ul li{
    display: inline-block;
    position: relative;

}
  
ul li a {
    display: block;
    margin: auto;
    padding: 20px 0px;
    color: #FDF0D5;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    transition-duration: 0.5s;
}

.hovernav span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hovernav span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hovernav:hover span{
  padding-right: 30px;
}

.hovernav:hover{ 
    background: #7f7f7f;
    transition: 0.5s;
}

.hovernav:hover span::after{
  opacity: 1;
  right: 0;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #272932;
}


ul li:hover ul.dropdown {
    display: block;
}

.navbar-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Making the folios page */

.folio-container{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    transform: translate(-20%, 0%);
}

.container {
  position: relative;
  width: fit-content;
}

.image {
  width: 675px;
  object-fit: cover;
  object-position: 80% 50%;
  opacity: 1;
  display: block;
  height: 550px;
  transition: .5s ease;
  backface-visibility: hidden;
  user-select: none;
  -webkit-user-drag: none;
  box-shadow: 10px 10px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #C6D8D3;
  font-size: 16px;
  padding: 16px 32px;
  transition-duration: 0.5s;
}

.text span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.text span::after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.text:hover span{
  padding-right: 25px;
}

.text:hover{
  background-color: #272932;
  color: #FDF0D5;
}

.text:hover span::after{
  opacity: 1;
  right: 0;
}

.folio-item{
    padding: 10px 20px;
    text-align: center;
}

.foliodescription{
  padding-top: 10px;
  padding-left: 20px;
  background-color: transparent;
}

.folioname{
  padding-top: 20px;
  background-color: transparent;
}

.bigimage{
    background-color: transparent;
    padding-top: 30vh;
    margin:auto;
    display:none;
    height: 60vh;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 1;
}

.folio-image{
  width: 1000px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  user-select: none;
  -webkit-user-drag: none;
  box-shadow: 10px 10px;
}

.folio-image-detailed{
  padding-right: 45%;
  margin-top: -15%;
}

.foliodes{
  margin: auto;
  padding-left: 55%;
  font-size: 15px;
  margin-right: 100px;
}

.foliotitle{
  margin: auto;
  padding-left: 53.5%;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Making the text centered */

.title{
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

/* Making a secret little smile */

.smile{
  margin: auto;
  text-align: center;
}

/* Text styling */

.footer{
  margin-left: 37.1%;
  margin-top: -20px;
  text-align: center;
  padding: 5px;
  background-color: #272932;
  color: #FDF0D5;
  width: 500px;
  font-size: 20px;
  height: 500px;
  border-style: solid;
  border-color: #C6D8D3;
  border-width: 4px;
  border-radius: 10px;
}

.aboutheadings{
  margin: auto;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.abouttext{
  margin: auto;
  font-size: 15px;
  padding-left: 50px;
}

.line{
  margin: auto;
  width: 75%;
  height: 7px;
  background-color: #272932;
  border-style: solid;
  border-radius: 10px;
  border-color: #C6D8D3;
}

/* Home page styling */

.profilepicture{
  margin-left: 17%;
  margin-top: -400px;
  scale: 150%;
  box-shadow: 10px 10px;
  user-select: none;
  -webkit-user-drag: none;
}

.extratext{
  margin: auto;
  font-size: 15px;
  color: #C6D8D3;
}

.textbody{
  margin-left: 47%;
  font-size: 15px;
}

.textheading{
  margin-left: 45%;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.extratext:link {
  text-decoration: none;
}

.extratext:visited {
  text-decoration: none;
}

.extratext:hover {
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  color: #FDF0D5;
}

.extratext:active {
  text-decoration: underline;
}

/** About page styling **/ 

.aboutme{
  margin-left: 52%;
  margin-top: 0px;
  font-size: 15px;
}

.aboutmeheading{
  margin-left: 50%;
  margin-top: -440px;
  font-size: 20px;
  padding-bottom: 10px;
}

/* Login styling */

.form{
  padding-left: 40px;
  padding-top: 10px;
}

.logintitle{
  padding-left: 15px;
  font-size: 25px;
}

.error{
  background-color:#879EB0;
  display:block;
  color: rgb(255, 64, 64);
  
}

.noaccount{
  margin: auto;
  padding-left: 15px;
  font-size: 15px;
  color: #C6D8D3;
}

.noaccount:link {
  text-decoration: none;
}

.noaccount:visited {
  text-decoration: none;
}

.noaccount:hover {
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
  color: #FDF0D5;
}

.noaccount:active {
  text-decoration: underline;
}

.textbox{
  background-color: #272932;
  border-color: #C6D8D3;
  color: #FDF0D5;
  font-family: "Boldonse", system-ui;
  border-style: solid;
  padding: 10px;
  margin-top: 10px;
  border-width: 2.5px;
  border-radius: 10px;
}

.submit{
  background-color: #272932;
  border-color: #C6D8D3;
  color: #FDF0D5;
  font-family: "Boldonse", system-ui;
  border-style: solid;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 10px;
  border-width: 2.5px;
  border-radius: 10px;
}

/* Project page styling */

.leaversbookpages1{
  width: 500px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  user-select: none;
  -webkit-user-drag: none;
  box-shadow: 10px 10px;
  margin-top: -7.5%;
}

.leaversbookpages2{
  width: 500px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  user-select: none;
  -webkit-user-drag: none;
  box-shadow: 10px 10px;
  margin-top: -24.44%;
  margin-left: 65%;
}

.page1heading{
  font-size: 15px;
  margin-top: -225px;
  padding-left: 37.75%;
  padding-bottom: 8%;
}

.page2heading{
  font-size: 15px;
  margin-top: -225px;
  padding-left: 65%;
  padding-bottom: 9.5%;
}

/* dashboard styling */

.radio{
  background-color: #272932;
  border-color: #C6D8D3;
  color: #FDF0D5;
  font-family: "Boldonse", system-ui;
  border-style: solid;
  padding: 10px;
  padding-right: 50px;
  padding-left: 25px;
  margin-top: 10px;
  border-width: 2.5px;
  border-radius: 10px;
  max-width: fit-content;
  margin-left: 0px;
}

.dashtextbox{
  background-color: #272932;
  border-color: #C6D8D3;
  color: #FDF0D5;
  font-family: "Boldonse", system-ui;
  border-style: solid;
  padding: 10px;
  margin-top: 10px;
  border-width: 2.5px;
  border-radius: 10px;
}