@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
/* change the default margin */
body,
h1,
h2,
h3,
h4,
p,
img{
    font-family: "Boldonse", system-ui;
    margin: auto;
    background-color: #879EB0;
    color: #272932;
}

/* remove any unecciary margins and background colour for the items inside the navbar */
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #272932;
    position: static;
    width: 100%;
}
  


ul li{
    display: inline-block;
    position: relative;

}
  
ul li a {
    display: block;
    margin: auto;
    padding: 20px 0px;
    color: #FDF0D5;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    background: #272932;
}

ul li a:hover{ 
    background: #7f7f7f;
}

ul li:hover ul.dropdown {
    display: block;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.folio-container{
    display: flex;
    flex-direction: row;
}

.image-size{
    height: 300px;
}

.folio-item{
    padding: 10px 20px;
    text-align: center;
}