<head>
    <title>Ed's Art - About</title>
</head>
{% extends 'layout.html' %}
{% block content %}
<h1 class="title">About</h1>
<div class="line"></div>
<h3 class="aboutheadings">Edward's Art Website</h3>
<h4 class="abouttext">
    This website is about all of my artwork, the progress of my art journey through school, and my entire folio as a whole.
    <br>
    You can view my different folios that I have created through the years along with my different artist models that I have
    <br>
    and follow.
</h4>
{% endblock %}