<head>
    <title>Ed's Art - About</title>
</head>
{% extends 'layout.html' %}
{% block content %}
<h1 class="title">About</h1>
<div class="line"></div>
<h3 class="aboutheadings">About this site</h3>
<h4 class="abouttext">
   This website is the official portfolio of Edward, showcasing a body of work that spans digital art, 
   <br>
   photography, printmaking, and elements of sculpture and painting. Edward’s creative practice is 
   <br>
   rooted in minimalism, often merging realistic and abstract approaches to explore themes that 
   <br>
   reflect his inner world and personal identity.
   <br><br>
   Each artwork presented here is part of a broader exploration — a visual language shaped by emotion, 
   <br>
   experience, and self-reflection. From experimental prints to quiet photographic studies and dynamic 
   <br>
   digital pieces, the portfolio captures a multidimensional artistic voice.
   <br><br>
   In addition to a curated selection of top artworks, the site highlights influential artist models who
   <br> 
    have shaped Edward’s vision and process. It’s a space to not only view the work, but to understand 
   <br>
   the thinking and inspiration behind it.
</h4>
{% endblock %}