{% extends 'layout.html' %}
{% block content %}
<h1>Folios</h1>
<div class="folio-container">
    {% for folio in folios %}
    <div class="folio-item">
        <p>{{ folio.name }}</p>
        <br>
        <img src="/static/images/{{ folio.photo }}" alt="dumb dumb not work" class="image-size" onclick="ShowDescription('{{ folio.id }}')">
        <p id="{{ folio.id }}" style="display: none;">{{ folio.description }}</p>
    </div>
    {% endfor %}
</div>
<script>
    function ShowDescription(id){
        document.getElementById(id).style.display='block';
    }
</script>
{% endblock %}