{% extends 'layout.html' %}
{% block content %}
<h1 class="title">Folios</h1>
<div class="line"></div>
<div id="slide_up">
    <div class="folio-container" id="image-slider" data-mouse-down-at="0" data-prev-percentage="-20" data-percentage="0">
        {% for folio in range(folio_num) %}
        <div class="folio-item">
            <p class="folioname">{{ folios[folio].name }}</p>
            <br>
            <!-- Adding the images/descriptions -->
            <div class="container">
                <img src="/static/images/{{ folios[folio].photo }}" class="image" draggable="false">
                <p id="{{ folios[folio].id }}" style="display: block;" class="foliodescription">{{ folios[folio].description }}. <br><br> If you would like to learn even more about these folios use the dropdown menu.</p>
                <div class="middle">
                    <div class="text" style="vertical-align:middle" onclick="MoveUp('{{ folio }}bigimage');"><span>View folio </span></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for i in range(folio_num) %}
    <img class="bigimage" id="{{ i }}bigimage" src="/static/images/{{ folios[i].photo }}" draggable="false" style="display: none;" onclick="MoveDown('{{ i }}bigimage');">
    {% endfor %}
</div>

<script>

    function sleep(ms){
        return new Promise(resolve => setTimeout(resolve, ms));
    }


// Making the page scroll with the movement of the mouse 

        const track = document.getElementById("image-slider");

        var move_amount = 1;

        const handleOnDown = e => track.dataset.mouseDownAt = e.clientX;

        const handleOnUp = () => {
        track.dataset.mouseDownAt = "0";
        track.dataset.prevPercentage = track.dataset.percentage;
        };

        const handleOnMove = e => {
        if (track.dataset.mouseDownAt === "0") return;
        

        const mouseDelta = parseFloat(track.dataset.mouseDownAt)*move_amount - e.clientX*move_amount,
        maxDelta = window.innerWidth / 1;
        const percentage = mouseDelta / maxDelta * -80,
        nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
        nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, -20), -80); // or -20.8 and -78.2

        track.dataset.percentage = nextPercentage;

        track.animate({
            transform: `translate(${nextPercentage}%, 0%)` },
        { duration: 1200, fill: "forwards" });

        for (const image of track.getElementsByClassName("image")) {
            image.animate({
            objectPosition: `${100 + nextPercentage}% center` },
            { duration: 1200, fill: "forwards" });
        }
        };

        // -- Had to add extra lines for touch events -- //

        window.onmousedown = e => handleOnDown(e);

        window.ontouchstart = e => handleOnDown(e.touches[0]);

        window.onmouseup = e => handleOnUp(e);

        window.ontouchend = e => handleOnUp(e.touches[0]);

        window.onmousemove = e => handleOnMove(e);

        window.ontouchmove = e => handleOnMove(e.touches[0]);
    
    // Making the image expand when clicked on //

        function MoveUp(id){
            move_amount = 0;
            const bigimage = document.getElementById(id);
            slide_up = document.getElementById("slide_up");
            bigimage.style.display = "block";
            slide_up.animate({transform: `translate(0, -60%)` },
            {duration: 1200, fill: "forwards", easing: 'ease-in-out'});
        }
        
        async function MoveDown(id){
            move_amount = 1;
            const bigimage = document.getElementById(id);
            slide_up = document.getElementById("slide_up");
            slide_up.animate({transform: `translate(0, 0%)`},    
            {duration: 1200, fill: "forwards", easing: 'ease-in-out'});
            await sleep(1200);
            bigimage.style.display = "none";
        }
    </script>
{% endblock %}