{% extends 'layout.html' %}
{% block content %}
<h1 class="title">Home</h1>
<div class="line"></div>
<h3 class="aboutheadings">
    Basic Introduction
</h3>
<h4 class="abouttext">
    Welcome to the portfolio of Edward, a multidisciplinary artist exploring identity 
    <br>
    through digital art, photography, printmaking, and occasional sculpture and painting.
    <br>
    Blending minimalism with both abstract and realistic styles, this space is a 
    <br>
    reflection of personal expression, creative curiosity, and visual storytelling.
    <br>
</h4>
<br>
<h3 class="aboutheadings">Who am I?</h3>
<h4 class="abouttext">
    I am Edward, I love my different art subjects along with the unquie designs that
    <br>
    can be created through different artwork. My favourite art subjects consist of,
    <br>
    Design, Printmaking, and Photography.
</h4>
<br>
<h3 class="aboutheadings">Want to learn more?</h3>
<h4 class="abouttext">
    Click this link:
    <a href="/about" class="extratext"><span>About Page</span></a>
</h4>
<img src=/static/images/profile.jpg class="profilepicture">
<h3 class="photoofme">Photo of me:</h3>
{% endblock %}