{% extends 'layout.html' %}
{% block content %}
<h1 class="title">Home</h1>
<div class="line"></div>
<h3 class="textheading">
    Basic Introduction
</h3>
<h4 class="textbody">
    Welcome to the portfolio of Edward, a multidisciplinary artist exploring identity 
    <br>
    through digital art, photography, printmaking, and occasional sculpture and painting.
    <br>
    Blending minimalism with both abstract and realistic styles, this space is a 
    <br>
    reflection of personal expression, creative curiosity, and visual storytelling.
    <br>
</h4>
<br>
<h3 class="textheading">Who am I?</h3>
<h4 class="textbody">
    I’m Edward, and I have a deep appreciation for the diversity of artistic subjects and 
    <br>
    the unique designs that can emerge through creative exploration. My favorite areas of 
    <br>
    focus are Design, Printmaking, and Photography — each offering its own way to 
    <br>
    experiment with form, texture, and visual storytelling. I’m passionate about discovering 
    <br>
    how different mediums can be used to express ideas in fresh and personal ways.
</h4>
<br>
<h3 class="textheading">Want to learn more?</h3>
<h4 class="textbody">
    Click this link:
    <a href="/about" class="extratext"><span>About Page</span></a>
</h4>
<img src=/static/images/profile.jpg class="profilepicture">
{% endblock %}