<!DOCTYPE html>
<html>
    <head>
        <title>Testing Website</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/folios">Folios</a>
                <ul class= "dropdown">
                    <li><a href = "/folios/1">Y9</a></li>
                    <li><a href = "/folios/2">Y10</a></li>
                    <li><a href = "/folios/3">Y11</a></li>
                    <li><a href = "/folios/4">Y12</a></li>
                    <li><a href = "/folios/5">Y13 Design</a></li>
                    <li><a href = "/folios/6">Y13 Printmaking</a></li>
                    <li><a href = "/folios/7">Y13 Photography</a></li>
                </ul>
            </li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/artwork">Artwork</a></li>
            <li><a href="/themes">Themes</a></li>
        </ul>
    </nav>
    <br><br>
    <main>

        {%block content%}
        {%endblock%}
    </main>
</html>
