<!DOCTYPE html>
<html>
    <head>
        <title>Ed's Art{% if title %} - {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <nav>

        <!-- Nav bar -->
        <div class="break"></div>
        <ul class="navbar-container">
            <li></li>
            <li><a href="/" class="hovernav"><span>Home </span></a></li>
            <li><a href="/about" class="hovernav"><span>About </span></a></li>
            <li><a href="/folios" class="hovernav"><span>Folios </span></a>
                
                <!-- Dropdown box -->

                <ul class= "dropdown">
                    <li><a href = "/folios/2" class="hovernav"><span>Y10 </span></a></li>
                    <li><a href = "/folios/3" class="hovernav"><span>Y11 </span></a></li>
                    <li><a href = "/folios/4" class="hovernav"><span>Y12 </span></a></li>
                    <li><a href = "/folios/5" class="hovernav"><span>Y13 Design </span></a></li>
                    <li><a href = "/folios/6" class="hovernav"><span>Y13 Print </span></a></li>
                    <li><a href = "/folios/7" class="hovernav"><span>Y13 Photo </span></a></li>
                </ul>
            </li>
            <li><a href="/projects" class="hovernav"><span>Projects </span></a></li>
            {% if login %}
            <li><a href="/dashboard" class="hovernav"><span>{{login}} </span></a></li>
            <li><a href="/logout" class="hovernav"><span>Logout </span></a></li>
            {% else %}
            <li><a href="/login" class="hovernav"><span>Login </span></a></li>
            <li><a href="/signup" class="hovernav"><span>Sign up </span></a></li>
            {% endif %}
            <li></li>
        </ul>
    </nav>
    <br>
    <body>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>

    <!-- Footer -->
    <footer class="footer">© Edward Mathers 2025</footer>

</html>
