<head>
    <title>Ed's Art - Projects</title>
</head>
{% extends 'layout.html' %}
{% block content %}
<h1 class="title">Projects</h1>
<div class="line"></div>
<br>
<h2 class="aboutheadings">Burnside High School Leavers Book</h2>
<h3 class="abouttext">
    During year 13 of Burnside High School I worked on and helped
    <br>
    to design the look of the book itself. The main pages that I
    <br>
    worked on was the signature page along with one of the class
    <br>
    that class being, MTR.
    <br><br>
    This is what the pages I designed turned out looking like:
</h3>
<img class="leaversbookpages1" src="/app/static/images/pending.png"> <!-- Signature page image -->
<img class="leaversbookpages2" src="/app/static/images/pending.png"> <!-- MTR page image -->
{% endblock %}