<head>
    <title>Ed's Art - Secret?</title>
</head>
{% extends 'layout.html' %}
{% block content %}
<h1 class="title">Why are you here?</h1>
<br>
<h4 class="smile">:]</h4>
<form>
    <label for="email">Enter your email:</label><br>
    <input class="text" type="email" name="email" value=""><br><br>
    <label for="pass">Enter your password:</label><br>
    <input class="text" type="password" name="pass" value=""><br><br>
    <label for="yes">Is this correct?</label><br>
    <label for="yes">Yes</label>
    <input class="text" type="radio" name="yes" value="Yes"><br><br>
    <label for="enter">Please press enter</label><br>
    <input class="text" type="submit" name="enter" value="Enter">
</form>
{% endblock %}